/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color:#fff ;
    margin: 0;
    text-align: center;
    background: #000;
    cursor: crosshair;
    
}


p{
    color: rgba(255, 255, 255, 0.5);
}


.header{
    top: 42%;

}

.disable-selection{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none ;
    -webkit-touch-callout: none;



}

h1::after{
    content: 'Frandevja42';
    font-size: 12px;
    position: absolute;
    top: 3px;
    padding-left: 5px;
    font-weight: 400;
    padding-top: 4px;
    font-size: 10px;
    font-weight: bold;
}

.col{
    text-align: center;

}


